@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #0f0;
}


html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #ccc;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--text-color);
  letter-spacing: -5px;
  font-weight: bold;

  @apply sm:text-[3em] xs:text-[2.8em] xxs:text-[2.5em] xxxs:text-[1.7em] xxxs:tracking-[-0.17em];
}
