@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #0f0;
}

.neon-text {
  color: var(--text-color);
}


html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #ccc;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--text-color);
  letter-spacing: -5px;
  font-weight: bold;

  @apply sm:text-[3em] xs:text-[2.8em] xxs:text-[2.5em] xxxs:text-[1.7em] xxxs:tracking-[-0.17em];
}


h3 {
  color: var(--text-color);
  letter-spacing: -1px;
  font-weight: bold;
}

.fadeInStartbar{ 
  opacity: 0;
  height: 0;
  overflow: hidden;
  animation: fade-in 3.5s forwards;
  -webkit-animation: fade-in 3.5s forwards;
  -webkit-animation-delay: 12.0s;
  animation-delay: 12.0s;
}
  
@keyframes fade-in {
  0% {overflow: unset; height: auto;}
  100% { overflow: unset; height: auto; opacity: 1; }
}
