.typing {
  border-right: .15em solid #ccc;
  border-top:none;
  border-left: none;
  border-bottom: none;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: blink .5s step-end infinite alternate;
  animation: blink .5s step-end infinite alternate;
}

.terminal {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
